<!doctype html>
<html ng-app="Eggly">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Eggly</title>

        <link rel="stylesheet" href="assets/css/normalize.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

        <link rel="stylesheet" href="assets/css/eggly.css">
        <link rel="stylesheet" href="assets/css/animations.css">
    </head>
    <body ng-controller="MainCtrl">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <a href="#"><img class="logo" src="assets/img/eggly-logo.png"></a>
                    <ul class="nav nav-sidebar">
                        <li ng-repeat="category in categories">
                            <a href="#">{{category.name}}</a>
                        </li>                        
                    </ul>
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <div ng-repeat="bookmark in bookmarks">
                        <button type="button" class="close">&times;</button>
                        <button type="button" class="btn btn-link"><span class="glyphicon glyphicon-pencil"></span></button>
                        <a href="{{bookmark.url}}" target="_blank">{{bookmark.title}}</a>
                    </div>                    
                    <hr/>
                </div>
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script src="app/eggly-app.start.js"></script>
    </body>
</html>